* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-bottom 0.3s;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-bottom: 2px solid #007BFF;
}

.input-group input:focus+label,
.input-group input:valid+label {
    top: -20px;
    font-size: 12px;
    color: #007BFF;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn {
    background-color: #007BFF;
    color: #fff;
}

.register-btn {
    background-color: #6c757d;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}